---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5';
import HeadMaster from '../components/HeadMaster.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[90px]">
			<HeadMaster />
			<Content>
				<section>
					<p class="mb-8 indent-4">
						As a developer and audio enthusiast, I&apos;ve been spening hours on my desk every day. So, I&apos;m continuously developing new projects and ideas to boost my workflow and my skills as a professional.
						<a href="" class="inline-flex items-center gap-1 indent-1 text-orange-500">Learn more about me <IoArrowForward className="inline"></IoArrowForward></a>
					</p>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
